{% extends "base.html" %}

<script src="https://kit.fontawesome.com/79ff35ecec.js" crossorigin="anonymous"></script>

{% block announce %}{% endblock %}

{% block header %}{% endblock %}

{% block footer %}
<section class="footer">
  <div class="socials">
    <div class="socialpar">
      <a target=”_blank” href="https://github.com/Twarner491">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <div class="socialpar">
      <a target=”_blank” href="https://x.com/WarnerTeddy">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </div>
    <div class="socialpar">
      <a target=”_blank” href="mailto:tawarner@usc.edu">
        <i class="fa-solid fa-paper-plane"></i>
      </a>
    </div>
  </div>
    <p class="copyright">Copyright © 2025 Teddy Warner</p>
</section>
{% endblock %}